In [1]:
%%time
from ml import Model
model=Model()

Wall time: 1min 4s

In [2]:
%%time
import pandas as pd
data_hh=pd.read_csv(".data/hh_dataset.csv")
data_youla=pd.read_csv(".data/youla_dataset.csv")

Wall time: 1.04 s

In [3]:
text="белая футболка"
ids=model.knn_youla(text, 5)

In [4]:
data_youla.iloc[ids][['title','description']]

                 title                       description
582           Футболка   Новая футболка Р-р единый 42-46
2527          Футболки  Бу за все 500 по отдельности200₽
2563          Футболка                                Бу
3297  Футболка детская                               NaN
3369  Футболка детская                               NaN

In [5]:
text="водитель автобуса"
ids=model.knn_hh(text, 5)

In [6]:
data_hh.iloc[ids][['title','description']]

,title,description
6329,Водитель категории Д на автобус,В транспортную компанию на постоянную работу т...
6192,Водитель-дальнобойщик,На постоянную работу требуется водитель-дально...
16020,Водитель такси Ford Focus,Крупной транспортной компании требуются води...
11685,Водитель-курьер с личным автомобилем,Обязанности: сбор и доставка почтовых отправл...
11706,Водитель Яндекс такси на зарплату,"В штат на зарплату. Водитель Такси, НОВЫЕ АВТО..."

In [7]:
text="имею опыт в строительстве домов, хочу зарплату от 60 тысяч рублей, полный рабочий день"
print(model.wish_detector(text))

[0.8 0.2]
hh

In [8]:
text="большой начальник"
print(model.predict_text(text))

(5, 'Банки, инвестиции, лизинг')

In [9]:
from ml import DataDumper
dd= DataDumper()

In [10]:
%%time
dd.dump(hh=True, youla=True, with_categories=True)

Wall time: 3min 32s