In [1]:
%%time
import ml
model=ml.Model()

Wall time: 1min 14s

In [2]:
%%time
import pandas as pd
data_hh=pd.read_csv(".data/hh_dataset.csv")
data_youla=pd.read_csv(".data/youla_dataset.csv")

Wall time: 1.26 s

In [3]:
text="телефон без царапин"
ids=model.knn_youla(text, 5)
data_youla.iloc[ids][['title','description']]

,title,description
5753,Заглушки для телефона,Продам заглушки для телефона. 1шт-10р.
21334,Чехол водонепроницаемый для телефона,"Чехол водонепроницаемый для телефона от 3,5 до..."
28077,Телефоны и планшеты все разом,Продам тел и планшеты разом разные и рабочие и...
8458,Радиоуправляемая машинка на бензине,Сломана одна деталь.все вопросы по телефону ил...
6015,Электрическая беговая дорожка,Все вопросы по телефону.

In [4]:
text="водитель автобуса"
ids=model.knn_hh(text, 5)
data_hh.iloc[ids][['title','description']]

,title,description
6329,Водитель категории Д на автобус,В транспортную компанию на постоянную работу т...
6192,Водитель-дальнобойщик,На постоянную работу требуется водитель-дально...
16020,Водитель такси Ford Focus,Крупной транспортной компании требуются води...
11685,Водитель-курьер с личным автомобилем,Обязанности: сбор и доставка почтовых отправл...
11706,Водитель Яндекс такси на зарплату,"В штат на зарплату. Водитель Такси, НОВЫЕ АВТО..."

In [11]:
text="Плоский телевизор с большим экраном"
print(model.wish_detector(text))

[0. 1.]
youla

In [5]:
text="Продавец в магазин профессиональной косметики"
print(model.predict_text(text))

(24, 'Спортивные клубы, фитнес, салоны красоты')

In [6]:
%%time
ml.dump_all()

Wall time: 3min 46s